$bkcolores:(
    primary:rgb(30, 30, 75),
    secundary:rgb(29, 27, 27),
    tertiary:rgb(5, 153, 202)
);
$router:"../imgs/";
$textSize:(
    paragraph:18px,
    title1:40px,
    title2:25px
);
$letter:Arial;
